body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                not supported by any browser */ }

.padding {
  padding: 0px !important; }

.margin {
  margin: 0 !important; }

#header-wrap {
  font-family: 'Roboto', sans-serif;
  /*Hot news , date and language selection section*/
  /*<!--  Logo and Adv -->*/
  /*  <!--   Navbar row -->*/ }
  #header-wrap .flexDisplay {
    display: flex;
    align-items: center; }
  #header-wrap .height {
    height: 47px; }
  #header-wrap .topHeader {
    background-color: #1d1e20;
    height: auto; }
    #header-wrap .topHeader .flex {
      display: flex;
      align-items: center; }
    #header-wrap .topHeader .hotNewsMain {
      display: flex;
      font-size: 12px;
      align-items: center; }
      #header-wrap .topHeader .hotNewsMain a {
        margin-left: 20px; }
      #header-wrap .topHeader .hotNewsMain p {
        margin-top: 10px; }
      #header-wrap .topHeader .hotNewsMain a,
      #header-wrap .topHeader .hotNewsMain p {
        color: lightgray;
        text-decoration: none; }
    #header-wrap .topHeader .live-cta {
      position: absolute;
      top: 7px !important;
      left: 10px; }
    #header-wrap .topHeader .hotNewsTextMain {
      position: relative;
      overflow: hidden;
      left: 15px;
      font-family: 'Roboto', sans-serif !important; }
      #header-wrap .topHeader .hotNewsTextMain .newsOverlay {
        position: absolute;
        height: 100%;
        transition: all 3s linear;
        width: 100%;
        right: 0%;
        background-color: #1d1e20; }
    #header-wrap .topHeader .live-pulse-min {
      border: 4px solid orange;
      background: transparent;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      height: 10px;
      width: 10px;
      position: absolute;
      top: 11px;
      left: 11px;
      -webkit-animation: pulse 1.4s ease-out;
      -moz-animation: pulse 1.4s ease-out;
      animation: pulse 1.4s ease-out;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      z-index: 1;
      opacity: 0; }
    #header-wrap .topHeader .live-pulse-max {
      border: 4px solid orange;
      background: transparent;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      height: 28px;
      width: 28px;
      position: absolute;
      top: 2px;
      left: 2px;
      -webkit-animation: pulse2 1.4s ease-out;
      -moz-animation: pulse2 1.4s ease-out;
      animation: pulse2 1.4s ease-out;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      z-index: 1;
      opacity: 0; }
@-webkit-keyframes "pulse" {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0; }
  20% {
    -webkit-transform: scale(0.25);
    opacity: 0.3; }
  40% {
    -webkit-transform: scale(0.5);
    opacity: 0.5; }
  60% {
    -webkit-transform: scale(1);
    opacity: 0.9; }
  80% {
    -webkit-transform: scale(1);
    opacity: 0.0; }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0; } }
@-webkit-keyframes "pulse2" {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0; }
  20% {
    -webkit-transform: scale(0);
    opacity: 0.0; }
  40% {
    -webkit-transform: scale(0.25);
    opacity: 0.1; }
  60% {
    -webkit-transform: scale(0.5);
    opacity: 0.2; }
  80% {
    -webkit-transform: scale(1);
    opacity: 0.4; }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0; } }
    #header-wrap .topHeader .date {
      height: 30px;
      border-radius: 2px;
      background-color: #242527;
      width: 160px;
      font-size: 12px;
      justify-content: center;
      color: lightgray;
      top: 7px; }
      #header-wrap .topHeader .date p {
        justify-content: center;
        margin-top: 10px; }
    #header-wrap .topHeader .socialNetworks {
      height: 100%;
      color: lightgray;
      padding: 1px 2px;
      overflow: hidden;
      position: absolute;
      border-left: 1px solid #2b2c2f;
      border-right: 1px solid #2b2c2f; }
      #header-wrap .topHeader .socialNetworks a {
        margin-top: 10px;
        color: lightgray;
        font-size: 14px; }
      #header-wrap .topHeader .socialNetworks .fa {
        /*padding: 5px;*/
        margin-top: 10px;
        padding: 6px 10px;
        border-radius: 5px; }
      #header-wrap .topHeader .socialNetworks a:first-child i:hover {
        background-color: #3b5998; }
      #header-wrap .topHeader .socialNetworks a:nth-child(2) i:hover {
        background-color: lightgray; }
      #header-wrap .topHeader .socialNetworks a:nth-child(3) i:hover {
        background-color: #ea4c89; }
      #header-wrap .topHeader .socialNetworks a:nth-child(4) i:hover {
        background-color: #00aced; }
      #header-wrap .topHeader .socialNetworks a:nth-child(5) i:hover {
        background-color: #dd4b39; }
    #header-wrap .topHeader .languageSelector {
      left: 24px;
      top: 4px;
      float: right; }
      #header-wrap .topHeader .languageSelector .langSelector {
        float: right;
        width: 100%;
        position: relative;
        z-index: 5; }
        #header-wrap .topHeader .languageSelector .langSelector div {
          display: flex;
          justify-content: center; }
        #header-wrap .topHeader .languageSelector .langSelector ul {
          list-style: none;
          margin: 0px !important;
          padding: 0px !important; }
          #header-wrap .topHeader .languageSelector .langSelector ul li {
            margin-bottom: 5px;
            transition: 0.4s ease-in;
            display: none; }
            #header-wrap .topHeader .languageSelector .langSelector ul li img {
              padding: 10px;
              cursor: pointer; }
          #header-wrap .topHeader .languageSelector .langSelector ul li:first-child {
            display: block !important; }
  #header-wrap .topLogo {
    height: 162px; }
    #header-wrap .topLogo .container {
      height: 100%; }
      #header-wrap .topLogo .container .row {
        height: 100%; }
        #header-wrap .topLogo .container .row .advMain {
          float: right;
          height: 100%; }
    #header-wrap .topLogo .mainLogo img {
      margin: 25px 0px; }
    #header-wrap .topLogo .adv {
      width: 728px;
      height: 90px; }
      #header-wrap .topLogo .adv img {
        position: absolute;
        right: -8px; }
    @media screen and (max-width: 1000px) {
      #header-wrap .topLogo .mainLogo {
        display: flex;
        justify-content: center; } }
  #header-wrap .topNav {
    height: 64px;
    background-color: #1d1e20;
    width: 105%;
    border-bottom: 4px solid #e84a4a; }
    #header-wrap .topNav .mainul {
      position: absolute;
      width: 100%;
      z-index: 1;
      margin: 0px 38px; }
    #header-wrap .topNav .navbar-brand {
      text-transform: capitalize;
      color: #FFF !important;
      letter-spacing: 2px;
      margin-top: 2px; }
    #header-wrap .topNav .nav {
      margin-bottom: 0px; }
      #header-wrap .topNav .nav a {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        padding: 20px 23px !important;
        color: #a3bfc6 !important;
        text-transform: capitalize;
        position: relative;
        z-index: 1000; }
      #header-wrap .topNav .nav li {
        background-color: #1d1e20;
        position: relative; }
        #header-wrap .topNav .nav li a {
          color: lightgray !important; }
        #header-wrap .topNav .nav li input {
          background: lightgray;
          width: 230px;
          border-radius: 5px;
          height: 30px; }
        #header-wrap .topNav .nav li div.col-md-offset-5 {
          margin: 14px 40px;
          position: relative; }
        #header-wrap .topNav .nav li .dropdown-menu {
          padding: 0px 0px !important; }
        #header-wrap .topNav .nav li ul li {
          height: auto !important;
          padding: 0px !important; }
          #header-wrap .topNav .nav li ul li a {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            padding: 12px 20px !important;
            color: white !important;
            text-transform: capitalize;
            position: relative;
            z-index: 1000;
            background-color: #1d1e20; }
          #header-wrap .topNav .nav li ul li a:hover {
            background-color: #e84a4a; }
      #header-wrap .topNav .nav ul li {
        height: 52px;
        list-style: none;
        padding: 6px; }
        #header-wrap .topNav .nav ul li .mainSearch {
          margin-right: 33px; }
          #header-wrap .topNav .nav ul li .mainSearch .searchMain {
            position: relative;
            display: inline-block;
            clear: both;
            margin-bottom: 8px; }
            #header-wrap .topNav .nav ul li .mainSearch .searchMain .overlayInput {
              position: absolute;
              background-color: #1d1e20;
              width: 100%;
              height: 100%;
              position: absolute;
              height: 33px;
              z-index: 2;
              transition: 0.3s ease; }
            #header-wrap .topNav .nav ul li .mainSearch .searchMain input {
              background: none;
              color: lightgray;
              width: 100%;
              padding: 5px;
              border-radius: 5px;
              border: 1px solid gray; }
            #header-wrap .topNav .nav ul li .mainSearch .searchMain input:focus {
              outline: 1px solid gray;
              box-shadow: none;
              inset: none; }
          #header-wrap .topNav .nav ul li .mainSearch .searchButton {
            position: relative;
            padding: 9px 11px;
            margin-bottom: 8px;
            display: inline-block; }
            #header-wrap .topNav .nav ul li .mainSearch .searchButton a {
              padding: 5px 3px !important;
              position: absolute;
              top: 3px !important;
              width: 18px;
              border-radius: 5px;
              background: #242527;
              height: 35px; }
            #header-wrap .topNav .nav ul li .mainSearch .searchButton button {
              padding: 0px 6px !important;
              position: absolute;
              top: 3px !important;
              width: 32px;
              background: #242527;
              height: 30px;
              padding: 10px;
              border: none; }
            #header-wrap .topNav .nav ul li .mainSearch .searchButton button:focus {
              box-shadow: none;
              outline: none;
              border: none; }
            #header-wrap .topNav .nav ul li .mainSearch .searchButton i {
              font-size: 17px;
              color: lightgray; }
    #header-wrap .topNav .navbar-brand i {
      font-size: 21px;
      padding: 20px 22px;
      background: #e84a4a;
      margin-left: -1px; }
    #header-wrap .topNav .navbar-header {
      margin-left: 3px; }
    #header-wrap .topNav .navbar-brand {
      padding: 0px !important;
      margin-top: 0px !important; }
    #header-wrap .topNav .navbar-toggle {
      background-color: #e84a4a !important; }
    #header-wrap .topNav .navbar-inverse {
      border: none !important;
      background-color: transparent !important; }
    #header-wrap .topNav .navbar-collapse {
      box-shadow: none !important;
      border: none !important; }
    #header-wrap .topNav .navbar-inverse .navbar-toggle:hover {
      background: #e84a4a !important; }
    #header-wrap .topNav .navbar-inverse .navbar-toggle:focus {
      background: #e84a4a !important; }
    #header-wrap .topNav .navbar-inverse .navbar-toggle:active {
      background: #e84a4a !important; }
    #header-wrap .topNav .icon-bar {
      background: #1d1e20 !important; }
    #header-wrap .topNav .hover {
      display: block;
      position: absolute;
      width: 0%;
      height: 100%;
      top: 0px;
      left: 0px;
      background: #e84a4a !important;
      z-index: 0;
      opacity: 0; }
    @media (max-width: 767px) {
      #header-wrap .topNav .nav {
        padding-bottom: 20px; }
        #header-wrap .topNav .nav a {
          padding: 12px !important; } }
    @media (max-width: 480px) {
      #header-wrap .topNav .nav {
        padding-bottom: 20px; } }

@media (max-width: 1201px) {
  .navbar-header {
    float: none; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .navbar-text {
    float: none;
    margin: 15px 0; }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important; }

  .collapsing {
    overflow: hidden !important; } }
#slider-wrap {
  margin-bottom: 30px; }
  #slider-wrap .sliderFrame {
    height: 380px;
    margin-top: 50px;
    margin-left: 16px;
    overflow: hidden; }
    #slider-wrap .sliderFrame .sliderImageFrame {
      width: 585px;
      height: 380px;
      background: gray; }
    #slider-wrap .sliderFrame .sliderOverlay {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0; }
    #slider-wrap .sliderFrame .sliderMain {
      top: 50px;
      width: 304px;
      overflow-y: scroll;
      height: 380px;
      right: -25px;
      transition: 10s linear;
      position: absolute; }
      #slider-wrap .sliderFrame .sliderMain i:first-child {
        position: absolute;
        font-size: 40px;
        left: 127px;
        z-index: 5;
        cursor: pointer;
        top: 0px;
        color: gray; }
      #slider-wrap .sliderFrame .sliderMain i:nth-child(3) {
        position: absolute;
        font-size: 40px;
        left: 127px;
        z-index: 5;
        cursor: pointer;
        bottom: 320px;
        color: gray; }
    #slider-wrap .sliderFrame .sliderMain::-webkit-scrollbar {
      width: 14px;
      height: 18px;
      background-color: #1d1e20; }
    #slider-wrap .sliderFrame .sliderMain::-webkit-scrollbar-thumb {
      height: 6px;
      border: 4px solid transparent;
      background-clip: padding-box;
      -webkit-border-radius: 7px;
      background-color: #e84a4a;
      -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05); }
    #slider-wrap .sliderFrame .sliderMain::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none; }
    #slider-wrap .sliderFrame .sliderMain::-webkit-scrollbar-corner {
      background-color: transparent; }
  #slider-wrap .col-md-9 {
    padding: 0 !important; }
    #slider-wrap .col-md-9 .sliderImgFull {
      background: gray;
      height: 100%;
      width: 100%; }
      #slider-wrap .col-md-9 .sliderImgFull img {
        object-fit: cover;
        width: 100%;
        height: 100%; }
  #slider-wrap div.category {
    position: absolute;
    padding: 0px 15px;
    bottom: 15px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    color: white;
    left: 30px;
    height: 30px;
    background-color: #4a7ee8; }
  #slider-wrap div.rating {
    width: 55px;
    position: absolute;
    height: 20px;
    bottom: 44px;
    left: 30px;
    background: #f2b620; }
  #slider-wrap .activeSlider {
    background: #242527 !important; }
  #slider-wrap .sliderNewsTitleColored {
    color: #d54646; }
  #slider-wrap .sliderNews {
    height: 116px;
    border-bottom: 1px solid #2b2c2f;
    background: #1d1e20;
    padding: 5px;
    cursor: pointer; }
    #slider-wrap .sliderNews .sliderNewsTitle,
    #slider-wrap .sliderNews .sliderNewsText {
      font-family: 'Roboto', sans-serif; }
    #slider-wrap .sliderNews .sliderNewsTitle {
      margin-bottom: 10px;
      margin-top: 5px;
      font-size: 17px;
      font-weight: bold;
      color: white; }
    #slider-wrap .sliderNews .sliderNewsText {
      font-size: 15px;
      color: lightgray; }
  #slider-wrap .sliderTrack {
    transition: 0.4s linear; }
  #slider-wrap .triangle:before {
    content: "\A";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #1d1e20 transparent transparent;
    position: absolute;
    left: -15px;
    margin-top: 50px; }

#space {
  height: 30px;
  width: 100%; }

#content-wrap {
  font-family: "Roboto" sans-serif; }
  #content-wrap a {
    text-decoration: none;
    color: black; }
  #content-wrap a:hover {
    transition: all 0.2s;
    color: red; }
  #content-wrap .padding-right-0 {
    padding-right: 0; }
  #content-wrap .padding-left-0 {
    padding-left: 0; }
  #content-wrap .regtangle:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    bottom: -7px; }
  #content-wrap .regtangle p {
    padding: 0% 2%;
    margin: 0;
    display: inline-block;
    color: white; }
  #content-wrap .high_img_div {
    overflow: hidden;
    min-width: 270px;
    max-width: 100%;
    height: 173px;
    background: gray;
    position: relative; }
    #content-wrap .high_img_div a {
      margin: auto;
      position: absolute;
      width: 100%;
      height: 100%; }
      #content-wrap .high_img_div a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-transition: all 0.5s ease-in-out; }
      #content-wrap .high_img_div a img:hover {
        -webkit-transform: scale(1.3); }
  #content-wrap .small {
    padding-left: 4.2%; }
    #content-wrap .small .row {
      border-bottom: 1px dashed silver;
      margin-bottom: 3.7%;
      padding-bottom: 3.7%; }
      #content-wrap .small .row a {
        color: black;
        text-decoration: none; }
      #content-wrap .small .row a h5:hover, #content-wrap .small .row p a:hover {
        transition: all 0.2s;
        color: red; }
      #content-wrap .small .row .small_img {
        width: 70px;
        height: 68px;
        padding: 0;
        background: gray;
        overflow: hidden;
        position: relative; }
        #content-wrap .small .row .small_img a {
          position: absolute;
          width: 100%;
          height: 100%; }
          #content-wrap .small .row .small_img a img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            -webkit-transition: all 0.5s ease-in-out; }
          #content-wrap .small .row .small_img a img:hover {
            -webkit-transform: scale(1.3); }
      #content-wrap .small .row .small_text {
        padding-right: 0; }
        #content-wrap .small .row .small_text h5 {
          margin: 1.2% 0 1% 1%;
          line-height: 140%;
          letter-spacing: -0.2px; }
        #content-wrap .small .row .small_text p {
          margin: 8% 0 0 1%;
          letter-spacing: -0.2px; }
    #content-wrap .small .row:last-child {
      border: none; }
  #content-wrap .day_post {
    overflow: hidden;
    min-height: 319px; }
    #content-wrap .day_post .day_post_text {
      padding-left: 1%;
      padding-right: 0; }
      #content-wrap .day_post .day_post_text div h3 {
        margin: 2% 0 1% 1%;
        letter-spacing: -0.4px;
        word-spacing: -2px; }
      #content-wrap .day_post .day_post_text div p {
        margin: 3.9% 0 5% 1%; }
      #content-wrap .day_post .day_post_text div p:last-child {
        line-height: 170%; }
    #content-wrap .day_post .regtangle {
      padding: 1.1% 1%;
      background: red;
      position: relative;
      margin-bottom: 5.1%; }
      #content-wrap .day_post .regtangle p {
        letter-spacing: 1px;
        font-size: 15px; }
    #content-wrap .day_post .regtangle:after {
      content: "";
      border-top: 7px solid red;
      left: 3%; }
    #content-wrap .day_post .day_post_img {
      position: relative;
      min-width: 270px;
      max-width: 100%;
      height: 218px;
      overflow: hidden; }
      #content-wrap .day_post .day_post_img a {
        position: absolute;
        width: 100%;
        height: 100%; }
        #content-wrap .day_post .day_post_img a img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          -webkit-transition: all 0.5s ease-in-out; }
        #content-wrap .day_post .day_post_img a img:hover {
          -webkit-transform: scale(1.3); }
  #content-wrap .lifestyle {
    overflow: hidden;
    min-height: 427.5px; }
    #content-wrap .lifestyle .text h3 {
      margin: 5% 0 1% 0;
      letter-spacing: -0.4px;
      word-spacing: -2px; }
    #content-wrap .lifestyle .text p {
      margin: 3.9% 0 0 0; }
    #content-wrap .lifestyle .text p:last-child {
      line-height: 170%;
      margin-top: 5%; }
    #content-wrap .lifestyle .regtangle {
      padding: 1.1% 1%;
      background: #00b4ff;
      position: relative;
      margin-bottom: 5.1%; }
      #content-wrap .lifestyle .regtangle p {
        letter-spacing: 1px;
        font-size: 15px; }
    #content-wrap .lifestyle .regtangle:after {
      content: "";
      border-top: 7px solid #00b4ff;
      left: 3%; }
  #content-wrap .carousel_posts {
    min-height: 348.5px;
    position: relative; }
    #content-wrap .carousel_posts .regtangle {
      padding: 1.1% 1%;
      background: #484848;
      position: relative;
      margin-bottom: 5.1%; }
      #content-wrap .carousel_posts .regtangle p {
        letter-spacing: 1px;
        font-size: 15px; }
    #content-wrap .carousel_posts .regtangle:after {
      content: "";
      border-top: 7px solid #484848;
      left: 3%; }
    #content-wrap .carousel_posts .controller {
      float: right;
      margin-right: 3.5%; }
      #content-wrap .carousel_posts .controller .controll {
        height: 10px;
        width: 10px;
        border: 1px solid white;
        border-radius: 100%;
        display: inline-block;
        padding: 0;
        margin: 0px 3px; }
      #content-wrap .carousel_posts .controller .active {
        background: white; }
    #content-wrap .carousel_posts .carousel_main {
      padding: 0;
      margin: 0;
      padding: 0;
      position: relative;
      transition: all 1s;
      overflow: hidden;
      height: 144px; }
      #content-wrap .carousel_posts .carousel_main .over {
        overflow: hidden;
        position: relative; }
        #content-wrap .carousel_posts .carousel_main .over .right {
          position: absolute;
          right: 5%;
          top: 30%;
          opacity: 0.8;
          padding: 2%;
          z-index: 1;
          visibility: hidden;
          cursor: pointer;
          color: white; }
          #content-wrap .carousel_posts .carousel_main .over .right .fa-chevron-right {
            visibility: hidden; }
        #content-wrap .carousel_posts .carousel_main .over .left {
          position: absolute;
          left: 5%;
          top: 30%;
          opacity: 0.8;
          padding: 2%;
          z-index: 1;
          visibility: hidden;
          cursor: pointer;
          color: white; }
          #content-wrap .carousel_posts .carousel_main .over .left .fa-chevron-left {
            visibility: hidden; }
      #content-wrap .carousel_posts .carousel_main .carousel_move {
        transition: all 1s;
        padding: 0;
        margin: 0;
        min-height: 144px; }
        #content-wrap .carousel_posts .carousel_main .carousel_move .carousel_item {
          float: left;
          margin: 0 20px 0 0;
          padding: 0;
          width: 173px;
          min-height: 144px;
          background: gray;
          overflow: hidden;
          position: relative; }
          #content-wrap .carousel_posts .carousel_main .carousel_move .carousel_item a {
            position: absolute;
            width: 100%;
            height: 100%; }
            #content-wrap .carousel_posts .carousel_main .carousel_move .carousel_item a img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              -webkit-transition: all 0.5s ease-in-out; }
            #content-wrap .carousel_posts .carousel_main .carousel_move .carousel_item a img:hover {
              -webkit-transform: scale(1.3); }
        #content-wrap .carousel_posts .carousel_main .carousel_move .carousel_item:last-child {
          margin: 0; }
    #content-wrap .carousel_posts .ad {
      position: absolute;
      bottom: 12%;
      left: 0; }
      #content-wrap .carousel_posts .ad .ads {
        height: 60px;
        width: 460px;
        display: table;
        margin: 0 auto;
        background: silver;
        border-radius: 3px; }
  #content-wrap .music {
    min-height: 428px;
    overflow: hidden; }
    #content-wrap .music .text h3 {
      margin: 5% 0 1% 0;
      letter-spacing: -0.4px;
      word-spacing: -2px; }
    #content-wrap .music .text p {
      margin: 3.9% 0 0 0; }
    #content-wrap .music .text p:last-child {
      line-height: 170%;
      margin-top: 5%; }
    #content-wrap .music .regtangle {
      padding: 1.1% 1%;
      background: #52ab0a;
      position: relative;
      margin-bottom: 5.1%; }
      #content-wrap .music .regtangle p {
        letter-spacing: 1px;
        font-size: 15px; }
    #content-wrap .music .regtangle:after {
      content: "";
      border-top: 7px solid #52ab0a;
      left: 3%; }
  #content-wrap .world_news {
    min-height: 428px; }
    #content-wrap .world_news .text h3 {
      margin: 5% 0 1% 0;
      letter-spacing: -0.4px;
      word-spacing: -2px; }
    #content-wrap .world_news .text p {
      margin: 3.9% 0 0 0; }
    #content-wrap .world_news .text p:last-child {
      line-height: 170%;
      margin-top: 5%; }
    #content-wrap .world_news .regtangle {
      padding: 1.1% 1%;
      background: #34466b;
      position: relative;
      margin-bottom: 5.1%; }
      #content-wrap .world_news .regtangle p {
        letter-spacing: 1px;
        font-size: 15px; }
    #content-wrap .world_news .regtangle:after {
      content: "";
      border-top: 7px solid #34466b;
      left: 3%; }
  #content-wrap .small_slide {
    padding-left: 11px;
    padding-right: 12px; }
  #content-wrap .video_widget {
    min-height: 258px; }
    #content-wrap .video_widget .regtangle {
      padding: 2.3% 4.5%;
      background: #34466b;
      position: relative;
      margin-bottom: 11%; }
      #content-wrap .video_widget .regtangle p {
        letter-spacing: 1px;
        font-size: 15px; }
    #content-wrap .video_widget .regtangle:after {
      content: "";
      border-top: 7px solid #34466b;
      left: 6%; }
  #content-wrap .random_posts .regtangle {
    padding: 2.3% 4%;
    background: black;
    position: relative;
    margin-bottom: 10.8%; }
    #content-wrap .random_posts .regtangle p {
      letter-spacing: 1px;
      font-size: 15px; }
  #content-wrap .random_posts .regtangle:after {
    content: "";
    border-top: 7px solid black;
    left: 6%; }
  #content-wrap .random_posts .news_img_text {
    margin-bottom: 7.5%;
    position: relative;
    height: 192.5px;
    vertical-align: middle;
    padding: 0;
    background: gray;
    width: 100%;
    position: relative;
    overflow: hidden; }
    #content-wrap .random_posts .news_img_text img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-transition: all 0.5s ease-in-out; }
    #content-wrap .random_posts .news_img_text img:hover {
      -webkit-transform: scale(1.3); }
    #content-wrap .random_posts .news_img_text .news {
      min-width: 100%;
      position: absolute;
      min-height: 18%;
      bottom: 0;
      background: rgba(0, 0, 0, 0.3);
      padding: 2% 2% 2% 5%; }
      #content-wrap .random_posts .news_img_text .news p {
        height: 100%;
        width: 100%;
        color: white;
        margin: 0;
        padding: 0; }
  #content-wrap .random_posts .col-md-12:last-child .news_img {
    margin-bottom: 14%; }
  #content-wrap .popular_tags {
    padding-bottom: 10px;
    margin-top: 7%; }
    #content-wrap .popular_tags .regtangle {
      padding: 2.3% 4%;
      background: black;
      position: relative;
      margin-bottom: 10%; }
      #content-wrap .popular_tags .regtangle p {
        letter-spacing: 1px;
        font-size: 15px; }
    #content-wrap .popular_tags .regtangle:after {
      content: "";
      border-top: 7px solid black;
      left: 6%; }
    #content-wrap .popular_tags .tag {
      background: black;
      display: inline-block;
      margin: 1px;
      border-radius: 3px;
      padding: 3px 9px;
      transition: all 0.3s; }
      #content-wrap .popular_tags .tag p {
        margin: 0;
        color: white; }
    #content-wrap .popular_tags .tag:hover {
      background: red; }
  #content-wrap .fb_vidget {
    overflow: hidden; }
    #content-wrap .fb_vidget .regtangle {
      padding: 2.3% 4%;
      background: black;
      position: relative;
      margin-bottom: 15%; }
      #content-wrap .fb_vidget .regtangle p {
        letter-spacing: 1px;
        font-size: 15px; }
    #content-wrap .fb_vidget .regtangle:after {
      content: "";
      border-top: 7px solid black;
      left: 6%; }
  #content-wrap .news .card img {
    width: 100%;
    max-height: 100%;
    margin-top: 10px; }
  #content-wrap .news .gallery {
    max-height: 300px; }
    #content-wrap .news .gallery .image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-transition: all 0.5s ease-in-out; }
    #content-wrap .news .gallery .image img:hover {
      -webkit-transform: scale(1.3); }
  #content-wrap .category_news {
    min-height: 428px; }
    #content-wrap .category_news .text h3 {
      margin: 5% 0 1% 0;
      letter-spacing: -0.4px;
      word-spacing: -2px; }
    #content-wrap .category_news .text p {
      margin: 3.9% 0 0 0; }
    #content-wrap .category_news .text p:last-child {
      line-height: 170%;
      margin-top: 5%; }
    #content-wrap .category_news .regtangle {
      padding: 1.1% 1%;
      background: #34466b;
      position: relative;
      margin-bottom: 5.1%; }
      #content-wrap .category_news .regtangle p {
        letter-spacing: 1px;
        font-size: 15px; }
    #content-wrap .category_news .regtangle:after {
      content: "";
      border-top: 7px solid #34466b;
      left: 3%; }
    #content-wrap .category_news .category_news_img {
      position: relative;
      width: 100%;
      height: 218px;
      overflow: hidden; }
      #content-wrap .category_news .category_news_img a {
        position: absolute;
        width: 100%;
        height: 100%; }
        #content-wrap .category_news .category_news_img a img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          -webkit-transition: all 0.5s ease-in-out; }
        #content-wrap .category_news .category_news_img a img:hover {
          -webkit-transform: scale(1.3); }

#sidebar-wrap a {
  text-decoration: none;
  color: black; }
#sidebar-wrap a:hover {
  transition: all 0.2s;
  color: red; }
#sidebar-wrap .doublePort {
  border: 1px solid black;
  background-color: black;
  height: 35px;
  padding: 5px;
  position: relative;
  margin-bottom: 25px; }
  #sidebar-wrap .doublePort p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: white; }
#sidebar-wrap .line {
  margin: 7px 0px 9px;
  border-top: #ddd dashed 1px; }
#sidebar-wrap .line:last-child {
  border: none; }
#sidebar-wrap .small_img {
  margin-left: 15px;
  width: 70px;
  height: 68px;
  padding: 0;
  background: gray;
  overflow: hidden;
  position: relative; }
  #sidebar-wrap .small_img a {
    text-decoration: none;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%; }
  #sidebar-wrap .small_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transition: all 0.5s ease-in-out; }
  #sidebar-wrap .small_img img:hover {
    -webkit-transform: scale(1.3); }
#sidebar-wrap .small_text {
  padding-right: 0; }
  #sidebar-wrap .small_text p {
    margin: 1.2% 0 1% 1%;
    line-height: 140%;
    letter-spacing: -0.2px; }
  #sidebar-wrap .small_text span {
    letter-spacing: -0.2px; }
  #sidebar-wrap .small_text .back {
    height: 20px;
    background-color: #F0B520;
    float: right;
    margin-top: -17px;
    margin-right: 65px;
    overflow: hidden;
    transition: all 1s ease; }
  #sidebar-wrap .small_text .back:hover {
    transition: all 1s ease;
    background: black; }
  #sidebar-wrap .small_text .reyt {
    font-size: 13px;
    float: right;
    color: white;
    margin: 2px;
    min-width: 15px; }
  #sidebar-wrap .small_text .star {
    color: white;
    float: right;
    margin: 2px;
    margin-top: 3px;
    margin-left: 5px;
    font-size: 13px;
    overflow: hidden; }
#sidebar-wrap .result span {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  font-weight: 400; }
#sidebar-wrap .result table {
  margin-left: -2px; }
  #sidebar-wrap .result table td {
    padding: 5px; }
    #sidebar-wrap .result table td p {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 400; }
#sidebar-wrap #myCarousel {
  overflow: hidden;
  height: 260px;
  background-color: #36A7D6; }
  #sidebar-wrap #myCarousel #newsOne {
    padding: 20px; }
#sidebar-wrap .btnHover {
  background-color: #E84A4A;
  color: white;
  transition: all 1s ease; }
#sidebar-wrap .btnHover:hover {
  transition: all 1s ease;
  background-color: black; }
#sidebar-wrap .regtangle:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  left: 3%;
  bottom: -10px;
  border-top: 10px solid black; }
#sidebar-wrap .right {
  position: absolute;
  bottom: 456px;
  left: 70% !important; }
  #sidebar-wrap .right li {
    width: 8px !important;
    height: 8px !important;
    border: 1px solid #A5A5A6 !important; }
    #sidebar-wrap .right li.active {
      width: 9px !important;
      height: 9px !important;
      background-color: #A5A5A6 !important; }
#sidebar-wrap h4 p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400; }
#sidebar-wrap .shrift span {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 100; }
#sidebar-wrap .shrift p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0; }

#footer-wrap {
  /*.same{margin-left: 9px;}*/
  /*media query*/
  /*media query*/ }
@font-face {
  #footer-wrap {
    font-family: 'Roboto';
    /*font-family: 'Roboto Mono' ;*/
    /* src :url('../../fonts/Roboto-Regular.ttf');*/
    src: url("../../fonts/Roboto-Thin.ttf");
    /* src :url('../../fonts/RobotoSlab-Regular.ttf');
     src :url('../../fonts/RobotoSlab-Thin.ttf');*/ } }
  #footer-wrap p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px; }
  #footer-wrap a {
    color: white;
    text-decoration: none; }
  #footer-wrap .footer_top_line {
    padding: 49px 0px 6px 0px;
    border-top: 2px solid #e84a4a;
    background: #1d1e20;
    width: 100%;
    height: auto; }
  #footer-wrap .logo {
    padding-bottom: 32px; }
    #footer-wrap .logo img {
      margin-top: -4px; }
  #footer-wrap .logo_bottom {
    padding-left: 23px; }
  #footer-wrap .info, #footer-wrap .last_update {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 700;
    color: #bbb;
    width: 99%; }
    #footer-wrap .info p, #footer-wrap .last_update p {
      font-weight: 100; }
    #footer-wrap .info .info_email, #footer-wrap .last_update .info_email {
      font-family: 'Roboto', sans-serif;
      padding-left: 20px;
      color: white;
      /*font-weight:bold;*/ }
  #footer-wrap .recent_post {
    font-weight: 500; }
    #footer-wrap .recent_post .row {
      padding-left: 7px; }
    #footer-wrap .recent_post .small_text {
      margin-bottom: 3px; }
  #footer-wrap .best_reviews {
    font-weight: 500; }
    #footer-wrap .best_reviews .row {
      padding-left: 8px; }
    #footer-wrap .best_reviews .small_text {
      margin-bottom: 10px; }
    #footer-wrap .best_reviews p {
      font-size: 12px; }
  #footer-wrap .newsletters .same_top {
    width: 90%; }
  #footer-wrap .newsletters .row {
    width: 118%;
    padding-left: 4px; }
  #footer-wrap .newsletters ::-webkit-input-placeholder {
    font-family: 'Roboto',sans-serif;
    font-size: 12px; }
  #footer-wrap .newsletters :-moz-placeholder {
    font-family: 'Roboto',sans-serif;
    /* Firefox 18- */
    font-size: 12px; }
  #footer-wrap .newsletters ::-moz-placeholder {
    font-family: 'Roboto',sans-serif;
    /* Firefox 19+ */
    font-size: 12px; }
  #footer-wrap .newsletters :-ms-input-placeholder {
    font-family: 'Roboto',sans-serif;
    font-size: 12px; }
  @media (max-width: 900px) {
    #footer-wrap .container {
      margin-left: 10px; }
    #footer-wrap .smallimg {
      width: 390px; }
    #footer-wrap .newsletters .row {
      width: 80%; }
    #footer-wrap .reviews_category {
      margin-bottom: 5px; }
    #footer-wrap .info p, #footer-wrap .logo img {
      padding-left: 5px; }
    #footer-wrap .recent_post .row {
      padding-left: 3px; }
    #footer-wrap .recent_post .small_text {
      margin-bottom: 0px; }
    #footer-wrap .recent_post .small_div {
      padding-left: 10px; }
    #footer-wrap .recent_post .col-md-8 {
      padding-top: 5px; }
    #footer-wrap .recent_post .same_top {
      margin-left: 8px; }
    #footer-wrap .best_reviews .row {
      padding-left: 15px; }
    #footer-wrap .best_reviews .small_text {
      margin-bottom: 10px; }
    #footer-wrap .best_reviews p {
      font-size: 12px; }
    #footer-wrap .newsletters .same_top {
      width: 97%; }
    #footer-wrap .newsletters .col-md-12 {
      width: 95%; }
    #footer-wrap .newsletters .row {
      width: 106%;
      padding-left: 16px; }
    #footer-wrap .small_img {
      width: 20%; } }
  #footer-wrap .last_update {
    color: #636468;
    font-size: 13px;
    font-weight: 700; }
  #footer-wrap .same_top {
    margin-bottom: 21px;
    color: #787878;
    /*text-align:center;*/
    padding: 5px 0px;
    background: #252729;
    width: 95%;
    height: auto; }
    #footer-wrap .same_top h4 {
      font-family: 'Roboto', sans-serif;
      /*font-family: 'Roboto Mono' ;*/
      font-weight: 100;
      font-size: 18px;
      margin-bottom: 3px;
      margin-top: 3px;
      padding-left: 18px;
      color: white; }
  #footer-wrap .col-md-12 {
    padding-left: 0px; }
  #footer-wrap .regtangle:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    left: 6%;
    bottom: -6px;
    border-top: 10px solid #252729; }
  #footer-wrap .small_div {
    padding: 0;
    padding-top: 4px;
    margin-bottom: -7px; }
    #footer-wrap .small_div .col-md-4 {
      padding-left: 0;
      margin-right: -11px; }
    #footer-wrap .small_div .col-md-8 {
      padding-left: 5px; }
    #footer-wrap .small_div .small_img {
      margin-padding: 0px; }
    #footer-wrap .small_div .imgM {
      overflow: hidden;
      margin-left: 0;
      margin-bottom: 20px;
      background: #787878;
      width: 70px;
      height: 70px; }
      #footer-wrap .small_div .imgM img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-transition: all 0.5s ease-in-out; }
      #footer-wrap .small_div .imgM img:hover {
        -webkit-transform: scale(1.3); }
    #footer-wrap .small_div .small_text {
      font-size: 14px;
      color: white;
      padding: 0; }
    #footer-wrap .small_div .reviews_rate {
      margin-left: 7px;
      width: auto; }
      #footer-wrap .small_div .reviews_rate p {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        margin-top: 0px;
        margin-left: 3px;
        float: right; }
    #footer-wrap .small_div .reviews_rate, #footer-wrap .small_div .reviews_category {
      font-size: 12px;
      /*text-align:center;*/
      color: white;
      height: 20px;
      line-height: 20px;
      padding: 0px 8px;
      background: #e84a4a; }
    #footer-wrap .small_div .reviews_category {
      padding: 0 8px;
      margin-left: 4px;
      background: #46d3ce;
      /*width: 80px;*/ }
    #footer-wrap .small_div .lightblue {
      background: #44d3cd; }
    #footer-wrap .small_div .blue_bg, #footer-wrap .small_div .green_bg, #footer-wrap .small_div .red_bg {
      margin-bottom: 10px;
      background: #4688d3; }
    #footer-wrap .small_div .green_bg {
      background: #46d367; }
    #footer-wrap .small_div .red_bg {
      background: #e84a4a; }
  #footer-wrap .get_latest {
    font-family: 'Roboto';
    font-weight: 100;
    width: 86%;
    padding-bottom: 30px;
    color: #bbb; }
  #footer-wrap .latest_mail_info_main {
    padding-bottom: 37px; }
  #footer-wrap .latest_mail_info {
    width: 275px;
    margin-left: 25;
    padding-left: 0;
    padding-bottom: 30px; }
    #footer-wrap .latest_mail_info input {
      width: 232px;
      padding: 0px 23px;
      border: none;
      height: 40px;
      border-radius: 5px;
      float: left; }
    #footer-wrap .latest_mail_info input:focus {
      outline: none; }
  #footer-wrap .latest_mail_info_done {
    width: 40px; }
  #footer-wrap .done {
    color: white;
    background: #e84a4a;
    border-radius: 5px;
    padding: 10px 12px;
    width: 38px;
    float: right;
    transition: 0.200s; }
  #footer-wrap .done:hover {
    background: #d22222; }
  #footer-wrap .social_n {
    padding-top: 6px;
    text-align: center;
    width: 88%;
    /*.fa-dribbble{padding: 4px 5px;}	*/ }
    #footer-wrap .social_n .fa {
      border-radius: 2px;
      padding: 3px 5px;
      font-size: 18px;
      color: white;
      text-decoration: none;
      transition: 0.200s;
      /*background: red;*/ }
    #footer-wrap .social_n .fa-facebook {
      padding: 3px 6px; }
    #footer-wrap .social_n .fa-dribbble:hover {
      background: #E84A4A; }
    #footer-wrap .social_n .fa-google-plus:hover {
      background: #ea4335; }
    #footer-wrap .social_n .fa-twitter:hover {
      background: #2eacf6; }
    #footer-wrap .social_n .fa-facebook:hover {
      background: #4867aa; }
    #footer-wrap .social_n .fa-rss:hover {
      background: #f59f2f; }
    #footer-wrap .social_n .fa-github:hover {
      background: black; }
    #footer-wrap .social_n .fa-linkedin-square:hover {
      background: #0177b5; }
    #footer-wrap .social_n .fa-pinterest-square:hover {
      background: #d01d15; }
  #footer-wrap .copyright {
    margin-top: 30px;
    padding: 10px;
    border-top: 1px solid #18181a;
    color: #787878; }
  #footer-wrap .copyrightText {
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    padding-top: 8px;
    float: left; }
  #footer-wrap .take_me_top {
    margin-right: 21px;
    cursor: pointer;
    font-size: 14px;
    float: right; }

/*# sourceMappingURL=style.css.map */
